<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2019-2029 geekidea(https://github.com/geekidea)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.stock.mapper.ConceptIndexMapper">

    <select id="getConceptIndexById" resultType="io.geekidea.stock.dto.vo.ConceptIndexQueryVo">
        select *
        from concept_index
        where id = #{id}
    </select>

    <select id="getConceptIndexPageList" resultType="io.geekidea.stock.dto.vo.IndustryConceptIndexVo">
        select concept_name as name,
        concept_index as increase,
        concept_count as count,
        total_market_value,
        total_circulation_value,
        total_trade_amount,
        total_trade_number,
        max_stock_code,
        max_stock_name,
        max_increase,
        max_increase_price,
        create_time
        from concept_index
        where concept_count > 2
        <if test="query.increaseType == 'rise'">
            and concept_index > 0
        </if>
        <if test="query.increaseType == 'fall'">
            and concept_index &lt; 0
        </if>
    </select>

</mapper>
